@font-face {
	font-family: opensans;
	src: url(../fonts/open-sans/OpenSans-Light.ttf);
}
@font-face {
	font-family: opensansbold;
	src: url(../fonts/open-sans/OpenSans-Bold.ttf);
}

a {
	text-decoration: none;
	font-family: opensansbold;
	color: #72587F;
}
.blogdate {
    font-family: opensans;
    font-size: 4vw;
    margin-bottom: 2vw;
}
.blogdate span {
    font-size: 3vw;
}
.blogheader {
    font-family: opensansbold;
    font-size: 64px;
}
.blogtext {
    color: #333333;
    font-family: opensans;
    font-size: 2vw;
}
#blogtitle {
    font-size: 10vw;
    text-align: center;
    padding: 1vw;
    margin-bottom: 8vw;
}
.blogtheme {
    font-size: 5vw;
    margin-right: 2vw;
    border-bottom: 3px solid black;
    width: 50%;
    margin-bottom: 2vw;
}
.blogtheme h1 {
    width: 100%;
    display: block;
}
body {
	width:100%;
	background-color: #eeeeee;
}
.code {
/*
    color: #eeeeee;
    background-color: black;
    width: 100%;
    border: 2px solid white;
*/
}
.content {
    line-height: 3vw;
    text-align: left;
    margin: auto;
    margin-right: 2vw;
    word-wrap: break-word;
}
#container {
    width: 100%;
    background-color: rgba(50,50,50,.2);
    margin: auto;
    box-shadow: 5px 5px black;
    font-family: opensans;
    font-size: 2vw;
    padding: 3vw;
}
.post {
    padding-bottom: 4vw;
}


